body {
  padding: 60px;
  font: 14px ;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  color: #00ff40;
}
.jarAttr {
  background-color: rgb(255, 127, 197);color: blueviolet;
  width: 120px;height: auto;
 }
